@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  font-size: 20px;
  color: #000;
}
a {text-decoration: none;color: #000;}
li{list-style: none;}
header {
  height: 100vh;
  background: url("img/j2.jpg");
  background-size: cover;
  background-position: center;
}

/******* NAVBAR   ********/ 
nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  width: 100%;
  padding: 0 100px;
  position: fixed;
}
nav .logo{
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
  justify-content: center;
  align-items: center;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  font-size: 22px;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
nav .nav-items li a:hover{
  color: #2c65a1;
  border-bottom: 1px solid #C14D7C;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #e6dfde;
  min-width: 18%!important;
  border-radius: 25PX;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  padding: 0 15px;
  font-size: 17px;
  background: #d4cbcb;
  border: none;
  border-radius: 25PX;
  cursor: pointer;
}
nav form button:hover{
  background: #eee6e4;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}

/* LINKS*/
a:link,
a:visited{
    color: #000;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #3376bc;
    transition: border-bottom 0.2s, color 0.2s;
}
a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/******* BUTTONS   ********/ 
.btn:link,
.btn:visited {
    display: inline-block;
    padding : 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.btn-adm:link,
.btn-adm:visited {
    background-color: #3376bc;
    border:1px solid #3376bc;
    color:#fff;
    margin-right: 15px;
}
.btn-jobs:link,
.btn-jobs:visited{
    border: 1px solid #3376bc;
    color: #3376bc;
}
.btn:hover,
.btn:active{
        background-color: #2c65a1;
        
} 
.btn-adm:hover,
.btn-adm:active {
    border:3px solid #3376bc;
}
.btn-jobs:hover,
.btn-jobs:active{
    border: 3px solid #3376bc;
    color: #fff;
}
/******* CONTENT BOX   ********/ 

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
}